// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    .logo img {
        width: 150px;
    }

    .navbar {
        margin-right: 180px;
        li {
            display: inline-block;
            margin-left: 20px;
            a {
                text-decoration: none;
                color: $text-color;
                display: inline;
                background-image: none;
                transition: background-image 0.3s ease;
                padding-bottom: 6px;
                &:hover {
                    color: white;
                    background-image: linear-gradient($brand-color, $brand-color);
                    background-size: 50% 2px;
                    background-repeat: no-repeat;
                    background-position: left bottom;
                }
            }
        }
    }
}