@use '../abstracts/variables' as *;
.container {
    padding: 16px;
}

html {
    background-color: $fondo;
}

body {
    position: relative;
    background-image: url('/img/ellipse3.png');
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: 730px 320px;
    z-index: 0;
}